:root {
  --main-red: #b31919;
  --main-grey: #808080;
  --main-darkgrey: #4d4d4d;
  --main-black:#262626;
  --main-blue:#262673
}
body{
  background: green;
  margin:0;
  color:white;
  font-family:Arial,sans-serif;
}
#navbar li{
  list-style:none
}
#navbar a{
  font-size:1.5em;
  font-weight: 900;
  text-decoration:none;
  color:white;
}
#navbar a:hover{
  margin:0;
  padding:30px 0px 30px 0px;
  text-decoration:underline; 
}
.text-center{
  text-align:center;
}
ul{
  display:flex;
  grid-column-gap:5em;
  margin-right:30px;
}
h1{
  font-size: 3em;
  line-height:0.5;
  font-weight:900;
}
h2{
  font-size: 2.5em;  
}
h3{
  font-size:2.3em;
  font-style: oblique;
}
h4{
  font-size:1.8em;
  margin-top:0;
}
p{
  line-height:0.5;
  font-size:1.5em;
  font-style:oblique;
  font-weight:900;
  font-family:courier,sans-serif;
  color:var(--main-black)
}
#navbar{
  background:var(--main-red);
  position:fixed;
  display:flex;
  justify-content:flex-end;
  align-items:center;
  width:100%;
  height:75px;
  left:0;
  top:0;
  z-index:2;
}
section{
  display:flex;
  grid-row-gap:0;
  justify-content:flex-start;
  align-items:center;
}
#welcome-section{
  background: var(--main-grey);
  width:100%;
  height:100vh;
  display:flex;
  flex-direction:column;
  align-items: center;
  justify-content:center;
}
#projects{
  background:var(--main-darkgrey);
  width:100%;
  margin:0;
  height:220vh;
  display:flex;
  flex-direction:column;
  grid-row-gap: 50px;
}

@media (max-width: 28.75em) {
  #projects{
    font-size: 4rem;
  }
  .projects-grid{
    font-size: 4rem;
  }
}

.project-image{
  transform:scale(0.9);
  border-radius:20px;
  display:block;
  margin: 0 auto;
  width:100%;
}
.projects-grid{
  display:flex;
  align-items:center;
  justify-content:center;
  grid-column-gap: 50px;
  margin-left:20px;
}
#projects a{
  text-decoration:none;
  background: var(--main-grey);
  width:50%;
  height:100%;
  border-radius:20px;
}
#projects a:hover{
  transform:scale(1.05);
  transition: transform 2s;
}
#contact{
  background:var(--main-black);
  margin:0;
  width:100%;
  height:100vh;
  display:flex;
  flex-direction:column;
  text-align:center;
}
#contact a{
  text-decoration:none;
  color:white;
  font-size:1.8em;
  font-weight:900;
}
#contact a:hover{
  transform:scale(1.1);
  transition: transform 1s;
}
#contact li{
  list-style:none;
}
#contact ul{
  grid-column-gap:0;
  font-style:italic;
  padding-top:50px;
}
.contact-img{
  transform:scale(0.25);
  display:flex;
}
.contact-grid{
  display:flex;
  align-items:center;
  grid-row-gap:0;
  width:50%;
  height:50%;
}

